[submodule "The_GIT_Guide"]
	path = The_GIT_Guide
	url = https://github.com/mahmud-off/The_GIT_Guide
[submodule "DB/SQL_Guide"]
	path = DB/SQL_Guide
	url = https://github.com/mahmud-off/SQL_Guide

[submodule "DSA"]
	path = DSA
	url = https://github.com/mahmud-off/DSA
